<%- include('../pieces/header', {bot, user, path}) %>
<% const BLACKLIST = ["$init", "channels"] %> 
<link rel="stylesheet" href="/guild/dashboard.css" />
<div class="container-fluid d-flex h-100 flex-column">
  <div class="row flex-fill d-flex justify-content-start">
    <nav class="dnavbar">
      <div class="dnavbar-icon">
      <% if (guild.icon) { %>
                <img class="dnavbar-img" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=64" />
      <% } else {%>
          <div class="dnavbar-img-div dnavbar-img">
            <%= guild.name.split(' ').map(v => v[0]).join('') %>
          </div>
      <% } %>
      <span id="member-count">Member Count: <%= guild.memberCount %></span>
      </div>
      <div class="dnavbar-category">
        <a class="dnavbar-link" onclick="linkTo('/')">Dashboard</a>
        <a class="dnavbar-link" onclick="linkTo('/commands')">Commands</a>
        <a class="dnavbar-link" onclick="linkTo('/modules')">Modules</a>
        <a class="dnavbar-link" onclick="linkTo('/modlog')">Mod-Log</a>
      </div>
    </nav>
    <div class="container">
        <h1><%= guild.name %></h1>
        <div style="width: 100%; background-color: #23272A;">
          <ul class="container-fluid standardInfo">
            <li>Users: <%= guild.memberCount %></li>
            <li>Bots: <%= guild.members.cache.filter(gm => Boolean(gm.user.bot)).size %></li>
            <li>Region: <%= guild.region %></li>
            <li>Voice Channels: <%= guild.channels.cache.filter(gc => gc.type === "voice").size%></li>
            <li>Text Channels: <%= guild.channels.cache.filter(gc => gc.type === "text").size%></li>
            <li>Roles: <%= guild.roles.cache.size%></li>
          </ul>
        </div>
        <div class="row" style="padding-top: 50px;">
          <div class="col-sm-6">
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title">Modules</h5>
                <p class="card-text">
                  <ul>
                    <li>Experience: <%= config.config.modules.xp ? 'active' : 'disabled' %></li>
                    <li>NSFW: <%= config.config.modules.nsfw ? 'active' : 'disabled' %></li>
                    <li>Starboard: <%= config.config.modules.xp ? 'active' : 'disabled' %></li>
                  </ul>
                </p>
                <a href="/modules" class="btn btn-primary">Edit Module</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card bg-dark">
              <div class="card-body">
                <h5 class="card-title">Audit Log</h5>
                <table class="table bg-light"style="display: block;">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">User</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody class="limit-height">
                    <% auditLogs.forEach(log => { %>
                    <tr>
                      <td><%= log.createdAt %></td>
                      <td><%= log.executor.username %></td>
                      <td><%= log.action %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
<script>
  function linkTo(path) {
     var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/" + getUrl.pathname.split('/')[2];
    window.location.href = baseUrl + path;
  }
</script>
<%- include('../pieces/footer',{bot, user, path}) %>
